<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>LukeEng</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.lukeeng.io</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.685639226330-hu2f846hgl4j99tag2bcq6hmn457kktv</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>GIDClientID</key>
	<string>685639226330-hu2f846hgl4j99tag2bcq6hmn457kktv.apps.googleusercontent.com</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Graphik-Black.ttf</string>
		<string>Graphik-BlackItalic.ttf</string>
		<string>Graphik-Bold.ttf</string>
		<string>Graphik-BoldItalic.ttf</string>
		<string>Graphik-Extralight.ttf</string>
		<string>Graphik-ExtralightItalic.ttf</string>
		<string>Graphik-Light.ttf</string>
		<string>Graphik-LightItalic.ttf</string>
		<string>Graphik-Medium.ttf</string>
		<string>Graphik-MediumItalic.ttf</string>
		<string>Graphik-Regular.ttf</string>
		<string>Graphik-RegularItalic.ttf</string>
		<string>Graphik-Semibold.ttf</string>
		<string>Graphik-SemiboldItalic.ttf</string>
		<string>Graphik-Super.ttf</string>
		<string>Graphik-SuperItalic.ttf</string>
		<string>Graphik-Thin.ttf</string>
		<string>Graphik-ThinItalic.ttf</string>
		<string>Wermut-Italic.ttf</string>
		<string>Wermut.ttf</string>
		<string>GraphikLCG-Black.ttf</string>
		<string>GraphikLCG-Bold.ttf</string>
		<string>GraphikLCG-Extralight.ttf</string>
		<string>GraphikLCG-Light.ttf</string>
		<string>GraphikLCG-Medium.ttf</string>
		<string>GraphikLCG-Regular.ttf</string>
		<string>GraphikLCG-Semibold.ttf</string>
		<string>GraphikLCG-Super.ttf</string>
		<string>GraphikLCG-Thin.ttf</string>
	</array>
</dict>
</plist>
